@define-color noti-border-color rgba(64, 175, 124, 1.0);
@define-color noti-bg rgba(28, 28, 28, 1.0);
@define-color noti-bg-alt rgba(28, 28, 28, 1.0);
@define-color noti-bg-hover rgba(28, 28, 28, 1.0);
@define-color text-color rgba(148, 148, 148, 1.0);

* {
  font-family: "JetBrains Mono Nerd Font", "Kaiti SC";
  font-weight: bold;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
}

.notification-row {
}

.notification {
}

.notification-content {
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.notification-default-action {
}

.close-button {
}

.close-button:hover {
}

.notification-action {
  font-size: 1.0em;
  border: none;
}

.notification-default-action:hover,
.notification-action:hover {
}

.notification-default-action {
}

.notification-default-action:not(:only-child) {
}

.notification-action:first-child {
}

.notification-action:last-child {
}

.inline-reply {
}

.inline-reply-entry {
}

.inline-reply-button {
}

.inline-reply-button:disabled {
}

.inline-reply-button:hover {
}

.body-image {
}

.summary {
}

.time {
}

.body {
}

.control-center {
}

.control-center-list {
}

.control-center-list-placeholder {
}

.floating-notifications {
}

.blank-window {
}

.widget-title {
}

.widget-title > button {
}

/* clear button */
.widget-title > button:hover {
}

.widget-dnd {
}

.widget-dnd > switch {
}

.widget-dnd > switch:checked {
}

.widget-dnd > switch slider {
}

.widget-dnd > switch:checked slider {
}

.widget-label {
}

.widget-label > label {
}

.widget-mpris {
}

.widget-mpris > box > button {
}

.widget-mpris-player {
}

.widget-mpris-title {
}

.widget-mpris-subtitle {
}

.widget-buttons-grid {
}

.widget-buttons-grid > flowbox > flowboxchild > button {
}

/* individual buttons */
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
}

.widget-menubar > box > .menu-button-bar > button {
}

.topbar-buttons > button {
}

.widget-volume {
}

.widget-volume > box > button {
}

.per-app-volume {
}

.widget-backlight {
}

.low {
}

.normal {
}

.critical {
}
