@define-color noti-border-color rgba(64, 175, 124, 1.0);
@define-color noti-bg rgba(28, 28, 28, 1.0);
@define-color noti-bg-alt rgba(28, 28, 28, 1.0);
@define-color noti-bg-hover rgba(28, 28, 28, 1.0);
@define-color text-color rgba(192, 192, 192, 1.0);

* {
  font-family: "JetBrains Mono Nerd Font", "Kaiti SC";
  font-size: 16px;
  font-weight: blod;
  color: #c4c4c4;
}

.notification-row {
  background-color: none;
}

.notification {
  background-color: @noti-bg;
  border: 1px solid @noti-border-color;
}

.notification-content {
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.notification-default-action:hover {
  background-color: @noti-bg;
}

.close-button {
}

.close-button:hover {
}

.notification-action {
  border: 1px solid @noti-bg;
}

.notification-action:hover {
  background-color: @noti-bg;
  border: 1px solid @noti-border-color;
}

.notification-default-action {
}

.notification-default-action:not(:only-child) {
}

.notification-action:first-child {
}

.notification-action:last-child {
}

.inline-reply {
}

.inline-reply-entry {
}

.inline-reply-button {
}

.inline-reply-button:disabled {
}

.inline-reply-button:hover {
}

.body-image {
}

.summary {
}

.time {
}

.body {
}

.control-center {
  background-color: @noti-bg;
  border: 1px solid @noti-border-color;
}

.control-center-list {
}

.notification-group {
  background-color: @noti-bg;
}

.notification-group-headers {
  margin-bottom: 16px;
}
.notification-group .notification-group-headers .notification-group-icon {
  color: @noti-border-color;
}
.notification-group .notification-group-buttons {
  margin-bottom: 16px;
}

.notification-group.collapsed {
  background-color: @noti-bg;
}

.control-center-list-placeholder {
}

.floating-notifications {
  background: transparent;
}

.blank-window {
}

.widget-title {
}

.widget-title > button {
  border: 1px solid @noti-bg;
}

/* clear button */
.widget-title > button:hover {
  border: 1px solid @noti-border-color;
}

.widget-dnd {
}

.widget-dnd > switch {
  background-color: #2c2c2c;
  border: 1px solid @noti-border-color;
  border-radius: 20px;
}

.widget-dnd > switch:checked {
  border: 1px solid @noti-border-color;
  background-color: @noti-border-color;
}

.widget-dnd > switch slider {
  border: 1px solid #2c2c2c;
  margin: 1px;
}

.widget-dnd > switch:checked slider {
}

.widget-label {
}

.widget-label > label {
}

.widget-mpris {
}

.widget-mpris > box > button {
}

.widget-mpris-player {
}

.widget-mpris-title {
}

.widget-mpris-subtitle {
}

.widget-buttons-grid {
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  border: 1px solid @noti-bg;
}

/* individual buttons */
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  border: 1px solid @noti-border-color;
}

.widget-menubar > box > .menu-button-bar > button {
}

.topbar-buttons > button {
}

.widget-volume {
}

.widget-volume > box > button {
  background-color: @noti-border-color;
}
.widget-volume trough {
}

.widget-volume trough highlight {
  padding: 4px;
  background: @noti-border-color;
  border: 2px solid @noti-border-color;
  border-radius: 10px;
}

.per-app-volume {
}

.widget-backlight {
}

.widget-backlight > box > button {
  background-color: @noti-border-color;
}
.widget-backlight trough {
}
.widget-backlight trough highlight {
  padding: 4px;
  background: @noti-border-color;
  border: 2px solid @noti-border-color;
  border-radius: 10px;
}

.control-center-dnd:checked {
}

.low {
}

.normal {
}

.critical {
}
