@define-color text-color rgba(148, 148, 148, 1.0);

* {
  font-family: "JetBrains Mono Nerd Font", "Kaiti SC";
  font-weight: bold;
  font-size: 19px;
}

#waybar {
  background-color: rgba(28, 28, 28, 0);
  border: none;
  box-shadow: none;
}

#workspaces,
#tray {
  padding: 2px 4px;
  margin-top: 4px;
  margin-left: 6px;
  margin-right: 6px;
  color: @text-color;
}

#clock,
#network,
#custom-reboot,
#bluetooth,
#battery,
#pulseaudio,
#backlight,
#custom-temperature,
#memory,
#cpu {
  margin-top: 0px;
  padding: 0px 2px;
  border-width: 0px;
  color: @text-color;
}
#custom-notify {
  padding: 4px 2px 0px 0px;
  color: @text-color;
}

#custpm-temperature.critical,
#pulseaudio.muted {
  color: #ff6f00;
}

#bluetooth:hover,
#network:hover,
#tray:hover,
#backlight:hover,
#battery:hover,
#pulseaudio:hover,
#custom-temperature:hover,
#memory:hover,
#cpu:hover,
#clock:hover,
#custom-power:hover,
#window:hover {
  background-color: rgba(28, 28, 28, 1);
}

#workspaces button.active {
  border-top: 3px solid rgba(64, 175, 124, 1);
  padding: 0px 4px 0px 4px;
  margin: 0 2px;
  border-radius: 0px;
}

#workspaces button {
  border: none;
  padding: 3px 4px 0px 4px;
  margin: 0 2px;
  font-weight: bold;
  color: @text-color;
}

#custom-workspace-windows {
  color: #3eaf7c;
  font-weight: bold;
  border: none;
  padding: 6px 4px 0px 4px;
}

#window {
  padding: 4px 20px 0px 60px;
  color: @text-color;
}

tooltip {
  background-color: rgba(28, 28, 28, 1);
  border: 0px solid #4c566a;
  margin-top: 35px;
}

