/* colors */

* {
  al:      #00000000;
  bg:      #1c1c1cff;
  se:      #151515ff;
  fg:      #949494ff;
  ac:      #3EAF7Cff;
  red:     #EC7875ff;
  green:   #3EAF7Cff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
